<%- include('./commen/header.ejs') %>
    <%- include('./commen/navigation.ejs') %>


        <h1 class="allProduct">Products</h1>
        <div class="products-items">
            <div class="itemPdt itmPdtScd">
                <a href="/Home/productsDiscriptionPage.html" class="jhg"> <img class="itemPdt-img" src="/Necklaces/1.png" alt=""></a>
                <div class="products-text">
                    <a href="/Home/productsDiscriptionPage.html" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href="/Home/productsDiscriptionPage.html"><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/2.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/3.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/4.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/5.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/6.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/7.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
            <div class="itemPdt itmPdtScd">
                <a href=""> <img class="itemPdt-img" src="/Necklaces/8.png" alt=""></a>
                <div class="products-text">
                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                </div>
            </div>
        </div>
    </div>
    
    


     <%- include('./commen/footer.ejs') %>