<%- include('./commen/header.ejs') %>
    <%- include('./commen/navigation.ejs') %>
        <% if (success.length > 0 ){%>
            <%= success %>
                <%}%>


                    <section class="main-img">
                        <img src="/images/new.jpg" width="100%" height="900vh" alt="" class="main-image">
                        <div class="img-btn">
                            <a class="shop-btn" href="">Shop Now</a>
                        </div>
                    </section>
                    <div class="categ">
                        <div class="grid">
                            <div class="flex">
                                <div class="container-first">
                                    <img src="/images/first.png" width="100%" height="300vh" alt="1">
                                    <p><a href="">Shop LVDA &rarr;</a></p>
                                </div>
                                <div class="container-second">
                                    <img src="/images/second.png" width="100%" height="300vh" alt="2">
                                    <p><a href="">Shop LOVODA Hypoallergenic &rarr;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="categ">
                        <div class="grid">
                            <div class="flex">
                                <div class="container-first">
                                    <img src="/images/third.png" width="100%" height="300vh" alt="3">
                                    <p><a href="">Shop LOVODA &rarr;</a></p>
                                </div>
                                <div class="container-second">
                                    <img src="/images/fourth.png" width="100%" height="300vh" alt="4">
                                    <p><a href="">Shop LOVODA Sterling Silver &rarr;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="products">
                        <div class="products-items">
                            <div class="itemPdt itmPdtScd">
                                <a href="" class="jhg"> <img class="itemPdt-img" src="/images/Necklaces/1.png"
                                        alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/2.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/3.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/4.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/5.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/6.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/7.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                            <div class="itemPdt itmPdtScd">
                                <a href=""> <img class="itemPdt-img" src="/images/Necklaces/8.png" alt=""></a>
                                <div class="products-text">
                                    <a href="" class="pro-title">Fastive Beaded Peari Nacklace</a>
                                    <a class="pricelink" href=""><span id="Price">Rs. 350</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buttom-side">
                        <h class="buttom-heading">FINAL SALE</h>
                        <a class="buttom-link" href="">Shop Sale</a>
                        <br><br><br><br><br><br>
                    </div>

                    <%- include('./commen/footer.ejs') %>