

.allProduct{
    margin: 5rem 7rem;
}


.productContainer{
    display: flex;
    height: 35rem;
    width: 70%;
    gap: 0.5rem;
    margin: 5rem auto;
}

.product-section{
    height: 30rem;
    width: 50%;
}
.product-img{
    height: 30rem;
    width: 100%;
    border: 0.1rem solid rgb(250, 248, 248);
}

.second-img{
    display: none;
}

.product-text{
    height: 30rem;
    width: 40%;
    margin: 0 auto;
}

.pdt-Heading{
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.quantity{
    margin-top: 1rem;
    color: gray;
}
.quantity-para{
    border: 0.1rem solid rgb(185, 176, 176);
    width: 30%;
    gap: 2rem;
    display: flex;
    justify-content: center;
    padding: 0.6rem;
}
.pdt-Price{
    margin: 0.4rem 0;
}
.product-btn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.product-anker{
    padding: 0.8rem 0rem;
    border: 0.1rem solid gray;
    text-decoration: none;
    text-align: center;
    color: gray;
}
.product-anker:hover{
    border: 0.1rem solid rgb(19, 18, 18);
    color: rgb(47, 44, 44);
}





@media only screen and (max-width:650px) {
    .productContainer{
        width: 100%;
        gap: 0.2rem;
    }
    .product-text{
        width: 50%;
    }
    .product-img{
        height: 15rem;
        width: 100%;
    }
    .quantity-para{
        width: 40%;
        gap: 1rem;
    }
    .second-img{
        display: block;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 235, 236);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Categary{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.Categary h2{

    border-bottom: 0.1rem solid gray;
}

.add-Form-list{
    display: flex;
    border: 0.1rem solid gray;
    padding: 4rem 3rem;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto;
    border-radius: 0.5rem;
    gap: 1rem;
    width: 50%;
}

.add-Form-list input, button{
    align-items: center;
    padding: 0.6rem 1rem;
    border:  none;
   border-radius: 4px;
}
.note{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
}

@media only screen and (max-width:650px){
    .add-Form-list{
        padding: 3rem 2rem;
        width: 75%;
        border-radius: 0.5rem;
        
    }
    
}
