<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Your New Products</title>
        <link rel="stylesheet" href="/Css/adminform.css">
</head>

<body>
        <div class="Categary">
                <h2>Rings</h2>
        </div>
        <form class="add-Form-list" action="/add/rings" method="post" id="product-Form">
                <input type="text" name="title" id="title" placeholder="Product Title">
                <input type="textaria" name="Discription" id="Discription" placeholder="Product Discription">
                <input type="text" name="price" id="price" placeholder="Product Price">
                <input type="file" name="photo-file" id="file" placeholder="Product Image">
                <button type="submit">Add Now</button>
        </form>

        <p class="note">Here Only Listing The Product On The Same Categary. Here The Image only Upload not any file.
                Image size must be 670px To 800px.</p>
</body>

</html>